<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
   <form>
       <label for="nombre">Nombre: </label> 
       <input type="text" id="nombre" name="nombre">
       <label for="apellido">Apellido: </label> 
       <input type="text" id="apellido" name="apellido">
       <button type="submit">Crear nuevo cliente</button>
   </form> 
   <script>
       document.querySelector("form").addEventListener("submit", async (e) => {
           e.preventDefault();
           const nombre = document.querySelector("#nombre").value;
           const apellido = document.querySelector("#apellido").value;
           const crearCliente = await fetch("http://localhost:5000/clientes", {
               method: "POST",
               headers: {
                   "Content-Type": "application/json",
               },
               body: JSON.stringify({
                   nombre,
                   apellido
               })
           });
           let response = await crearCliente.json();
       })

   </script>
</body>
</html>
