<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturas</title>
    <style>
        label,
        button {
            display: block;
        }
        input {
            margin-bottom: 5px;
        }
        fieldset {
            width: 25%;
        }
        body {
            display: flex;
        }
    </style>
</head>
<body>
   <form id="crearFactura">
       <fieldset>
           <legend>Crea un factura: </legend>
           <label for="id">Cliente Id: </label> 
           <input type="number" id="clienteId" name="clienteId" required>
           <label for="id">Producto Id: </label> 
           <input type="number" id="productoId" name="productoId" required>
           <label for="id">Fecha: </label> 
           <input type="date" id="fecha" name="fecha" required>
           <label for="precioUnitario">Precio Unitario: </label> 
           <input type="text" id="precioUnitario" name="precioUnitario" disabled>
           <label for="productoNombre">Producto: </label> 
           <input type="text" id="productoNombre" name="productoNombre" disabled>
           <label for="clienteNombre">Cliente: </label> 
           <input type="text" id="clienteNombre" name="clienteNombre" disabled>
           <label for="cantidad">Cantidad: </label> 
           <input type="number" id="cantidad" name="cantidad">
           <label for="total">Total: </label> 
           <input type="text" id="total" name="total" disabled>
           <button type="submit">Crear nueva factura</button>
       </fieldset>
   </form> 
   <script src="script-facturas.js"></script>
</body>
</html>
