<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jidoka</title>
    </head>
    <body>
        <header>
            <nav>
                <span>Jidoka</span>
                <ul>
                    <li><a href="views/log-in.html">Log In</a></li>
                    <li><a href="views/clientes.html">Clientes</a></li>
                    <li><a href="views/sign-up.html">Sign Up</a></li>
                </ul>
            </nav>
        </header> 
        <body>
